*text=auto eol=lf

# Unity text assets
*.meta      text eol=lf
*.asmdef    text eol=lf
*.unity     text eol=lf
*.prefab    text eol=lf
*.shader    text eol=lf
*.cs        text eol=lf
ProjectSettings/** text eol=lf
Packages/**        text eol=lf
